.userCard {
    cursor: pointer;
    flex: 1 0 auto;
    margin-right: 34px;
    max-width: 290px;
    position: relative;
    width: 100%;
    z-index: 100;
}

.userCard:hover .userCard__name {
    color: #FE8700;
}

.userCard:hover .userCard__companyName {
    color: #FE8700;

}

.userCard:hover .userCard__photoWrapper::after {
   opacity: 1;
}

.userCard__photoWrapper {
    position: relative;
    max-width: 290px;
    margin-bottom: 19px;
}

.userCard__photoWrapper::after {
    background-color: #FE8700;
    bottom: 0;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.userCard__photo {
    vertical-align: middle;
    height: auto;
    display: inline-block;
    width: 100%;
}

.userCard__name {
    cursor: pointer;
    color: #384758;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.userCard__companyName {
    cursor: pointer;
    color: #606F81;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.userCard__name,
.userCard__companyName {
    transition: color 0.1s ease-in;
}